name: Check file and Preview DNS changes

on: pull_request

jobs:
  check:
    if: github.actor!= 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: DNSControl check
        uses: wblondel/dnscontrol-action@1e2bf5dd6cf5ed180f6b5b5de10bde5b8fc4d5e1 # v4.26.0
        with:
          args: check

  preview:
    if: github.actor!= 'dependabot[bot]'
    runs-on: ubuntu-latest
    env:
      DESEC_API_TOKEN: ${{ secrets.DESEC_API_TOKEN }}
      OVH_APP_KEY: ${{ secrets.OVH_APP_KEY }}
      OVH_APP_SECRET_KEY: ${{ secrets.OVH_APP_SECRET_KEY }}
      OVH_CONSUMER_KEY: ${{ secrets.OVH_CONSUMER_KEY }}
    needs: check

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: DNSControl preview
        uses: wblondel/dnscontrol-action@1e2bf5dd6cf5ed180f6b5b5de10bde5b8fc4d5e1 # v4.26.0
        id: dnscontrol_preview
        with:
          args: preview

      - name: Comment diff on PR
        uses: unsplash/comment-on-pr@ffe8f97ccc63ce12c3c23c6885b169db67958d3b # v1.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            ```
            ${{ steps.dnscontrol_preview.outputs.preview_comment }}
            ```
          check_for_duplicate_msg: false
