name: Push DNS changes

on:
  push:
    branches:
      - master

jobs:
  push:
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      DESEC_API_TOKEN: ${{ secrets.DESEC_API_TOKEN }}
      DYNADOT_API_KEY: ${{ secrets.DYNADOT_API_KEY }}
      OVH_APP_KEY: ${{ secrets.OVH_APP_KEY }}
      OVH_APP_SECRET_KEY: ${{ secrets.OVH_APP_SECRET_KEY }}
      OVH_CONSUMER_KEY: ${{ secrets.OVH_CONSUMER_KEY }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: DNSControl push
        uses: wblondel/dnscontrol-action@1e2bf5dd6cf5ed180f6b5b5de10bde5b8fc4d5e1 # v4.26.0
        with:
          args: push
