name: Push DNS changes

on:
  push:
    branches:
      - master

jobs:
  push:
    runs-on: ubuntu-latest
    env:
      DESEC_API_TOKEN: ${{ secrets.DESEC_API_TOKEN }}
      OVH_APP_KEY: ${{ secrets.OVH_APP_KEY }}
      OVH_APP_SECRET_KEY: ${{ secrets.OVH_APP_SECRET_KEY }}
      OVH_CONSUMER_KEY: ${{ secrets.OVH_CONSUMER_KEY }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: DNSControl push
        uses: wblondel/dnscontrol-action@806edd71548719332a2165596b4114f353912945 # v4.25.0
        with:
          args: push
